html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/blank222.png');
    box-shadow: 
    -moz-box-shadow:    inset 0 0px 300px #888888;
    -webkit-box-shadow: inset 0 0px 300px #888888;
    box-shadow:         inset 0 0px 300px #888888;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.25);
}


b, strong { font-weight: bold }
i, em { font-style: italic }


a {
    color: #ff7454;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    cursor:pointer;
}

a:hover,
a:focus {
color: #ff3607;
text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


h1,
h2,
h3,
h4,
h5,
h6,
p, li {
  font-family: 'Lato', serif;
  font-weight: lighter;
  text-align: center;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  letter-spacing: -1px;
  padding: 1em;
}

h1 {
    font-size: 4.5em;
    color: #525252;
    text-shadow: 0 2px 2px #787878;
    margin: auto;
}

h2 {
    font-size: 3em;
    color: #525252;
    text-shadow: 0 1px 1px #787878;
    padding: 0.5em;
}

h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.7em;
    text-align: left;
    padding-bottom: 5%;
}

ol, ul {
    counter-reset:li; 
    margin-left:5%;
    padding-left:0; 
}
ol > li, ul > li {
    position:relative; 
    margin:7% 2em 0 3em; 
    padding:8px 8px; 
    list-style:none; 
    border-top:2px dashed #666;
    font-size: 1.7em;
    text-align: left;   
}

ol > li:before {
    content:counter(li); 
    counter-increment:li;
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    padding-top: 8px;
    border-top:2px dashed #666;
    border-right:2px dashed #666;
    font-weight:bold;
    text-align:center;
}

ul > li:before {
    content: "\0BB \020";
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    border-top:2px dashed #666;
    font-weight:bold;
    text-align:center;
}

li ol,
li ul {margin-top:10px;}
ol ol li:last-child {margin-bottom:0;}


blockquote {
    font-size: 1.8em;
    font-style: italic;
    width: 80%;
    margin: 0.25em 0;
    padding: 7% 0 0 15%;
    line-height: 1.9em;
    position: relative;
    color: #383838;
}

blockquote:before {
    font-family: 'Source Sans Pro';
    display: block;
    content: "\201C";
    font-size: 6em;
    position: absolute;
    left: -3%;
    top: 10%;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 0.8em;
    display: block;
    margin-top: 3px;
    text-align: right;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

img {
-webkit-box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
-moz-box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    margin: auto;
}


.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-family: 'Lato', georgia, serif;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.2;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


.slide {
    display: block;
    width: 600px;
    height: 600px;
    border: 2px dashed rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 40px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, .1);
    background-image: url('../img/blank55.png');
   
}


.slide-circle { 
   width: 700px;
   height: 700px;
   padding: 110px;
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
   background: url('../img/blank44.png');
   border: 2px dashed rgba(0, 0, 0, .3);
}




.impress-enabled .hint { display: block }


.impress-on-bored .hint {
 
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}



.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

