html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/blank22.png');
    box-shadow: 
    -moz-box-shadow:    inset 0 0px 300px #888888;
    -webkit-box-shadow: inset 0 0px 300px #888888;
    box-shadow:         inset 0 0px 300px #888888;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.25);
}


b, strong { font-weight: bold }
i, em { font-style: italic }


a {
    color: #ff7454;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    color: #ff3607;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


h1,
h2,
h3,
h4,
h5,
h6,
p, li {
  font-family: 'Lato', serif;
  font-weight: lighter;
  text-align: center;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  letter-spacing: -1px;
}

h1 {
    font-size: 4.5em;
    color: #525252;
    text-shadow: 0 2px 2px #787878;
    padding: 25px;
}

h2 {
    font-size: 3em;
    color: #525252;
    text-shadow: 0 1px 1px #787878;
    padding: 25px;
}


h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.7em;
    text-align: left;
    padding-bottom: 5%;
}

ol, ul {
    counter-reset:li; 
    margin-left:5%;
    padding-left:0; 
}
ol > li, ul > li {
    position:relative; 
    margin:7% 2em 0 3em; 
    padding:8px 8px; 
    list-style:none; 
    border-top:2px dashed #666;
    font-size: 1.7em;
    text-align: left;   
}

ol > li:before {
    content:counter(li); 
    counter-increment:li;
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    padding-top: 8px;
    border-top:2px dashed #666;
    border-right:2px dashed #666;
    font-weight:bold;
    text-align:center;
}

ul > li:before {
    content: "\0BB \020";
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    border-top:2px dashed #666;
    font-weight:bold;
    text-align:center;
}

li ol,
li ul {margin-top:10px;}
ol ol li:last-child {margin-bottom:0;}


.fallback-message {
    font-family: 'Lato';
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}



.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Lato', georgia, serif;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


.slide {
    display: block;
    width: 600px;
    height: 600px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 40px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, .1);
    background-image: url('../img/blank5.png');
   
}


.slide-circle { 
   width: 700px;
   height: 700px;
   padding: 110px;
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
   background: url('../img/blank4.png');
}









.impress-enabled .hint { display: block }


.impress-on-bored .hint {
 
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}


*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

